{% extends 'base.html.twig' %}

{% block title %}Gerer les Campus | {{ parent() }}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/gestioncampus.css') }}">
{% endblock %}
{% block body %}
    <h2 style="text-align: center">Gérer les campus</h2>
    {%if exception == true %}
        <p style ="color: red">Impossible de supprimer le campus car une sortie y est organisée.</p>
    {% endif %}
        <div>
            <h3>Le nom du Campus contient : </h3>
            {{ form_start(campusform) }}
            {{ form_widget(campusform) }}
            <button type="submit" name="submit">Rechercher</button>
            {{ form_end(campusform) }}
        </div>
        {{ form_start(campusform2) }}
    <div class="container">
        <div class="tab">
            <h2>Campus</h2>
            <h2>Actions</h2>
        </div>
        {% for camp in campus %}
            <div class="tab">
                <div class="campus">
                    <p>{{ camp.nom }}</p>
                </div>
                <div class="actions">
                    <p><a href="{{ path('campus_edit',{'id':camp.id}) }}">modifier</a> - <a href="{{ path('campus_delete',{'id':camp.id}) }}">supprimer</a></p>
                </div>
            </div>
        {% endfor %}
        <div class="tab">
            <div class="campus">
                <p>{{ form_widget(campusform2) }}</p>
            </div>
            <div class="actions">
                <p><a href="{{ path('campus_gestion') }}"> <button>Ajouter</button></a></p>
            </div>
        </div>
        {{ form_end(campusform2) }}
    </div>
{% endblock %}
