{% extends 'base.html.twig' %}

{% block title %}Gerer les Campus | {{ parent() }}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/gestioncampus.css') }}">
{% endblock %}
{% block body %}
    <h2 style="text-align: center">Gérer les campus</h2>
        <div>
            <h3>Le nom du Campus contient : </h3>
            {{ form_start(campusform) }}
            {{ form_widget(campusform) }}
            <button type="submit" name="submit">Rechercher</button>
            {{ form_end(campusform) }}
        </div>
        <div id="container">
            {% for camp in campus %}
            <div id="campus">
                <h2>Campus</h2>
                <p>{{ camp.nom }}</p>
            </div>
                <div id="actions">
                    <h2>Actions</h2>
                    <p><a href="{{ path('campus_edit',{'id':camp.id}) }}">modifier</a> - <a href="{{ path('campus_delete',{'id':camp.id}) }}">supprimer</a></p>
                </div>
            {% endfor %}
        </div>
    <p><a href="{{ path('gestion_ville') }}"> <button>Ajouter</button></a></p>
{% endblock %}
