{% extends 'base.html.twig' %}

{% block title %}Accueil | {{ parent() }}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/index.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/filtrageAccueil.js') }}" defer></script>
{% endblock %}

{% block body %}
    <div class="infos">
        <div class="utilisateur">Participant : <p id="utilisateur">{{ app.user.pseudo }}</p></div>
        <div class="dateDuJour">Date du jour : <p id="dateDuJour"> {{ "now"|date("d/m/Y H:i") }}</div>
    </div>

<div class="container">
    <div class="title">
        <h2>Filtrer les sorties</h2>
    </div>
    <div class="research">
        {{ form_start(filtreForm) }}
        <section class="filtrage">

            <div class="left-section">
                <div class="form-group-left">
                    <div class="campus">
                    {{ form_label(filtreForm.campus, 'Campus') }}
                    {{ form_widget(filtreForm.campus, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="search-bar">
                        {{ form_label(filtreForm.nom_sortie, 'Le nom de la sortie contient :') }}
                        {{ form_widget(filtreForm.nom_sortie, {'attr': {'class': 'form-control'}})}}
                    </div>
                    <div class="dates-label">
                        {{ form_label(filtreForm.date_debut, 'Entre') }}
                        {{ form_widget(filtreForm.date_debut, {'attr': {'class': 'form-control js-datepicker'}})}}
                        {{ form_label(filtreForm.date_fin, 'Et') }}
                        {{ form_widget(filtreForm.date_fin, {'attr': {'class': 'form-control js-datepicker'},})}}
                    </div>
                </div>
            </div>
            <div class="right-section">
                <div class="form-group-right">
                    <div class="isOrganisateur">
                        {{ form_label(filtreForm.isOrganisateur) }}
                        {{ form_widget(filtreForm.isOrganisateur, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="isInscrit">
                        {{ form_label(filtreForm.isInscrit) }}
                        {{ form_widget(filtreForm.isInscrit, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="isPasInscrit">
                        {{ form_label(filtreForm.isPasInscrit) }}
                        {{ form_widget(filtreForm.isPasInscrit, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="sorties-passees">
                        {{ form_label(filtreForm.sortiesPassees) }}
                        {{ form_widget(filtreForm.sortiesPassees, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </div>
            {{ form_end(filtreForm) }}

            </section>
        <button id="search">Rechercher</button>
    </div>


    <section class="tab-section">
        <div class="tab">
            <div class="nom">
                <h2>Nom de la sortie</h2>
                {% for sortie in sorties %}
                <div class="name" campus="{{ sortie.getCampus.getId }}">
                    {{ sortie.nom }}
                </div>
                {% endfor %}
            </div>
            <div class="dates">
                <h2>Date de la sortie</h2>
                {% for sortie in sorties %}
                    <div class="date_debut">{{ sortie.dateHeureDebut|date('d/m/Y H:i') }}</div>
                {% endfor %}
            </div>
            <div class="clotures">
                <h2>Clôture</h2>
                {% for sortie in sorties %}
                    <div class="cloture">
                        {{ sortie.dateLimiteInscription|date('d/m/Y') }}
                    </div>
                {% endfor %}
            </div>
            <div class="places">
                <h2>Inscrit/Places</h2>
                {% for sortie in sorties %}
                    <div class="place">
                        {{ sortie.usersInscrits.count }}/{{ sortie.nbInscriptionsMax }}
                    </div>
                {% endfor %}
            </div>
            <div class="etats">
                <h2>Etat</h2>
                {% for sortie in sorties %}
                    <div class="etat">
                        {{ sortie.etat.libelle }}
                    </div>
                {% endfor %}
            </div>
            <div class="inscrits">
                <h2>Inscrit</h2>
                {% for sortie in sorties %}
                    {% if sortie.usersInscrits.count > 0%}
                        {% set isParticipant = 'false' %}
                        {% for user in sortie.usersInscrits %}
                            {% if user.id == app.user.id %}
                                {% set isParticipant = 'true' %}
                            {% endif %}
                        {% endfor %}
                        {% if isParticipant == 'true' %}
                            <div class="inscrit">X</div>

                        {% else %}
                            <div class="inscrit" style="color: white">-</div>
                        {% endif %}

                    {% else %}
                        <div class="inscrit" style="color: white">-</div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="organisateurs">
                <h2>Organisateur</h2>
                {% for sortie in sorties %}
                        <div class="organisateur">
                           <a href="{{ path('update_user',{'id': sortie.userOrganisateur.id}) }}" class="orga">{{ sortie.userOrganisateur.pseudo }}</a>
                        </div>
                {% endfor %}
            </div>
            <div class="actions">
                <h2>Actions</h2>
                {% for sortie in sorties %}
                    {# Si l'état de la sortie est 'Activité en cours' #}
                    {% if sortie.etat.libelle ==  'Activité en cours' %}
                    <div class="action">
                        <a href="{{path('sortie_show', {'id': sortie.id}) }}">Afficher</a>
                    </div>
                    {# Si l'état de la sortie est "Ouverte" #}
                    {% elseif sortie.etat.libelle == 'Ouverte' %}
                    <div class="action">
                        <a href="{{path('sortie_show', {'id': sortie.id}) }}">Afficher</a>
                        {# Si l'utilisateur en cours est inscrit à la sortie présente #}
                        {% for user in sortie.usersInscrits %}
                            {% if user.id == app.user.id %}
                               -<a href="{{ path('desinscription_sortie', {'id': sortie.id, 'id2': app.user.id}) }}"> Me désinscrire</a>
                            {% endif %}
                        {% endfor %}
                        {# Si l'utilisateur en cours est l'organisateur de la sortie #}
                        {% if app.user.id == sortie.userOrganisateur.id or is_granted('ROLE_ADMIN') %}
                         -<a href="{{path('annuler_sortie', {'id': sortie.id}) }}"> Annuler</a>
                        {% endif %}
                        {# Si l'utilisateur en cours n'est pas inscrit à la sortie et n'est pas l'organisateur #}
                        {% set isParticipant = 'false' %}
                        {% for user in sortie.usersInscrits %}
                            {% if user.id == app.user.id %}
                                {% set isParticipant = 'true' %}
                            {% endif %}
                        {% endfor %}
                        {% if app.user.id != sortie.userOrganisateur.id and isParticipant == 'false' %}
                            -<a href="{{ path('inscription_sortie', {'id': sortie.id, 'id2': app.user.id}) }}"> M'inscrire</a>
                        {% endif %}
                    </div>
                    {# Si l'état de la sortie est "Clôturée"#}
                    {% elseif sortie.etat.libelle == 'Clôturée' %}
                        <div class="action">
                            <a href="{{path('sortie_show', {'id': sortie.id}) }}">Afficher</a>
                            {% if app.user.id == sortie.userOrganisateur.id or is_granted('ROLE_ADMIN') %}
                                -<a href="{{path('annuler_sortie', {'id': sortie.id}) }}"> Annuler</a>
                            {% endif %}
                        {% for user in sortie.usersInscrits %}
                            {% if user.id == app.user.id and "now"|date("d/m/Y H:i:s") < sortie.dateHeureDebut %}
                                -<a href="{{ path('desinscription_sortie', {'id': sortie.id, 'id2': app.user.id}) }}"> Me désinscrire</a>
                            {% endif %}
                        {% endfor %}
                        </div>
                     {% elseif sortie.etat.libelle == 'Passée'%}
                         <div class="action">
                             <a href="{{path('sortie_show', {'id': sortie.id}) }}">Afficher</a>
                         </div>
                    {% elseif sortie.etat.libelle == 'Annulée'%}
                        <div class="action">
                            <a href="{{path('sortie_show', {'id': sortie.id}) }}">Afficher</a>
                        </div>
                    {% endif %}
                    {# Si l'utilisateur est organisateur mais qu'il n'a pas publié la sortie #}
                {% endfor %}
            </div>
        </div>
    </section>
    <div class="redirect-sortie">
        <a href="{{ path('sortie_créer') }}" class="create-sortie">Créer une sortie</a>
    </div>
</div>
{% endblock %}
