{% extends 'base.html.twig' %}

{% block title %}Profil | {{ parent() }}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/profil.css') }}">

{% endblock %}

{% block body %}

{% if app.user.id == profil.id %}

    {{ form_start(form) }}

        {{ form_widget(form) }}
        <button type="submit" class="btn">Modififer</button>
    {{ form_end(form) }}

    {% else %}

    <div>Prénom : {{profil.prenom}} </div>
{% endif %}



{% endblock %}