{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/nav.css') }}">
{% endblock %}
    
    <header>
        <h1>Club M'aide</h1>
        <ul>
            {% if app.user %}
                <li><a href="{{ path('main_page') }}">Accueil</a></li>
            {% if is_granted('ROLE_ADMIN') %}
                <li><a href="{{ path('gestion_ville') }}">Villes</a></li>
                <li><a href="{{ path('campus_gestion') }}" >Campus</a></li>
            {% endif %}
                <li><a href="{{ path('update') }}" title="profil" > Profil</a></li>
                <li><a href="{{ path('app_logout') }}" title="logout" >Déconnexion</a></li> 
            {% endif %}
        </ul>
    </header>
